.choiceBtn{
    width: 80px;
    height: 30px;
    border: 2px solid;
    border-radius: 12px;
    background-color: #121111;
    color: white;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
#storyBoard{
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    border-color:white;
    background-color: black;
}
#story{
    color: white;
    font-family:'Times New Roman', Times, serif;
}
#menu{
    cursor: pointer;
}